body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #55435e;
  color: #9d98b5;
  padding: 2rem;
  text-align: center;
}

nav a {
  margin: 0 1rem;
  color: #cab9b9;
  text-decoration: none;
}

section {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.project {
  background: #b0c2ce;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(3, 3, 3, 0.904);
}

footer {
  text-align: center;
  padding: 1rem;
  background: #75a6d7;
  color: #cae0c0fa;
}

body {  
    background-color:rgb(141, 163, 161);
}